<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <!-- 匿名ユーザーは拒否する -->
        <deny users="?" />
        <!-- 管理者ロールは許可する -->
        <allow roles="Admin" />
        <!-- その他は拒否する -->
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
